@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&family=Ubuntu&family=Roboto&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.ofsp {
  font-family: 'Lakki Reddy', cursive;
}

.norm {
  font-family: 'Ubuntu', sans-serif;
}

.tech {
  font-family: 'Roboto', sans-serif;
}

@keyframes opac-raise {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}