.product-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product {
  width: 100%;
  border-bottom: 1px #eee solid;
  border-top: 1px #eee solid;
  height: 100%;
  min-height: 400px;
  padding: 3em 0;
}

.product-label {
  margin-bottom: 2em;
}

.product-title {
  margin-bottom: 0.5em;
  font-size: 28px;
  text-align: center;
}

.product-img {
  height: 200px;
  width: auto;
  display: block;
  margin: 0 auto 1em;
}

.product-body {
  min-height: 100%;
}

.product-text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1em;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.data {
  font-size: 16px;
  font-weight: 400;
}

.input-product {
  display: grid;
  grid-template-columns: auto 100px 50px;
  gap: 0;
  width: fit-content;
  align-content: center;
  border-radius: 5px;
  overflow: hidden;
}

.my-input-button {
  border: 0;
  background-color: #003975;
  color: white;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.my-input-button:focus {
  outline: 0;
}

.my-input-button:active {
  transform: scale(0.95);
  background-color: #004792;
}

.my-label {
  background-color: #003975;
  color: white;
  height: 100%;
  padding: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-number-input {
  height: 100%;
  padding: 16px;
  border: 0;
  border-top: 1px #aaa solid;
  border-bottom: 1px #aaa solid;
  width: 100px;
  text-align: center;
  display: block;
  font-size: 20px;
}

.my-number-input:focus {
  outline: 0;
}
