.main-store {
  min-height: calc(100vh - 80px);
}

.store-nav {
  display: grid;
  width: 100%;
  background-color: #003975;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  padding: 2px 0;
  margin-bottom: 2em;
}

.store-nav-item {
  padding: 10px;
  color: white;
  transition: all, 0.3s;
  cursor: pointer;
}

.store-nav-item.selected {
  color: #aaa;
  transition: all, 0.3s;
}

.products-holder {
  width: fit-content;
  margin: 0 auto;
  padding: 40px 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-items: center;
  gap: 100px;
}