.main {
  min-height: calc(100vh - 80px);
  background-color: #f9f9f9;
}

.splash {
  min-height: 60vh;
  height: 60vh;
  background-image: url('../../assets/images/pexels_office.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-color: #3a5c81;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.splash-wrapper {
  color: white;
}

.splash-title {
  font-size: 80px;
  letter-spacing: 10px;
  animation: opac-raise forwards 1s linear;
  opacity: 0;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.39);
}

.splash-sub {
  position: relative;
  font-size: 30px;
  opacity: 0;
  text-align: center;
  animation: opac-raise forwards .5s .5s linear;
}

.splash-btn {
  position: absolute;
  background-color: #5299d3;
  color: #fff;
  bottom: -42.5px;
  width: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(50% - 127px);
  font-size: 40px;
  transition: box-shadow .3s;
  box-shadow: 0px 2px 2px 2px rgba(51, 51, 51, 0.212);
}

.splash-btn:hover {
  box-shadow: 0px 0px 0px 0px rgba(51, 51, 51, 0.212);
  transition: box-shadow .3s;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8em 0;
}

.message-title {
  margin-bottom: .5em;
  background-color: #003975;
  color: white;
  padding: 8px;
  border-radius: 5px;
  width: fit-content;
  font-weight: 300;
}

.message-subtitle {
  margin-bottom: .5em;
  text-indent: 5px;
  font-style: italic;
}

.message-wrapper {
  width: 50vw;
  min-width: 300px;
  margin: 0 auto;
}

.message-content {
  line-height: 1.75;
  letter-spacing: 1.5px;
  font-size: 18px;
}