.error-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(170, 170, 170, 0.322);
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center center;
}

.error-wrapper {
  padding: 2em;
  width: 50vw;
  min-width: 350px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}